<launch>
  <!-- 启动 Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

  <!-- 上传 URDF 到参数服务器 -->
  <param name="robot_description" textfile="$(find Ni_robot_description)/urdf/simple_robot.urdf"/>

  <!-- 发布机器人状态 -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- 在 Gazebo 生成机器人 -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model my_robot -param robot_description"/>
</launch>
